asgiref==3.6.0
backports.zoneinfo==0.2.1
certifi==2022.9.24
distlib==0.3.6
Django==4.1.7
django-crispy-forms==2.0
djangorestframework==3.14.0
filelock==3.8.2
pbr==5.11.0
Pillow==9.4.0
pipenv==2022.11.30
platformdirs==2.6.0
python-dotenv==0.21.1
pytz==2022.7.1
sqlparse==0.4.3
stevedore==4.1.1
virtualenv==20.17.1
virtualenv-clone==0.5.7
virtualenvwrapper==4.8.4
